---
import { SOCIAL_LINKS } from '@/consts'
import Link from './Link.astro'
import SocialIcons from './SocialIcons.astro'
---

<footer
  class="mx-auto mt-16 mb-6 flex w-full max-w-3xl items-center justify-between gap-y-2 px-2"
>
  <p class="text-muted-foreground font-mono text-xs">
    <span class="c">/*</span>
    🄯 {new Date().getFullYear()}
    <br />
    <span class="c">&nbsp;*</span> Status: Up and Running (mostly) <br />
    <span class="c">&nbsp;*</span> Generated at {Date.now()}ms UNIX. <br />
    <span class="c">&nbsp;*</span>
    <span class="text-primary">&lt;3</span>
    <Link
      href="https://codeberg.org/fosscet/"
      class="text-foreground"
      external
      underline>fosscet</Link
    >
    <br />
    <span class="c">&nbsp;*/</span>
  </p>

  <style>
    .c {
      color: var(--muted);
    }
  </style>
  <SocialIcons class="flex-col" links={SOCIAL_LINKS} />
</footer>
