---
import Link from '@/components/Link.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import SearchButton from '@/components/react/SearchButton'
import { NAV_LINKS } from '@/consts'
import { Image } from 'astro:assets'
import logo from '../../public/static/logo.svg'
---

<div class="border-b md:border-b-0">
  <div id="scroll-trigger" class="relative -top-0.5 h-px"></div>
  <div
    id="navbar"
    class="mx-auto flex max-w-3xl flex-row items-center justify-between gap-4 px-4 py-3"
  >
    <Link href="/" class="shrink-0 items-center justify-center gap-3 md:flex">
      <Image
        src={logo}
        alt="Logo"
        id="navbar-logo"
        class="size-8 opacity-0 transition-all duration-300 md:size-12 md:saturate-100"
      />
      <span
        class="hidden h-full py-4 font-mono leading-none font-medium italic md:block md:text-3xl"
      >
        foss<span class="text-primary">cet</span>
      </span>
    </Link>
    <div class="flex items-center gap-4 transition-all">
      <nav class="flex items-center gap-4 text-sm sm:gap-6">
        {
          NAV_LINKS.map((item) => (
            <Link
              href={item.href}
              class="text-foreground/60 hover:text-foreground font-mono transition-colors"
            >
              {item.label}
            </Link>
          ))
        }
      </nav>
      <SearchButton client:idle />
      <ThemeToggle transition:persist />
    </div>
  </div>
</div>

<script>
  const initNavbarObserver = () => {
    const target = document.querySelector('#scroll-trigger')
    const nav = document.querySelector('#navbar') as HTMLDivElement
    const logo = document.querySelector('#navbar-logo') as HTMLImageElement

    if (!target) {
      console.error(
        "Observer Error: Target element '#scroll-trigger' not found in DOM.",
      )
      return
    }

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (!entry.isIntersecting) {
            document.querySelector('#main-nav')?.classList.add('is-at-top')
            logo.classList.remove('opacity-0', 'scale-0', 'w-0')
            nav.style.justifyContent = 'space-between'
          } else {
            document.querySelector('#main-nav')?.classList.remove('is-at-top')
            logo.classList.add('opacity-0', 'scale-0', 'w-0')
            nav.style.justifyContent = 'center'
          }
        })
      },
      { threshold: 0 },
    )

    observer.observe(target)
  }

  window.addEventListener('load', initNavbarObserver)
  document.addEventListener('astro:page-load', initNavbarObserver)
</script>
