---
import Link from './Link.astro'
---

<Link href="/" class="contents">
  <div
    class="flex h-full items-center justify-center pt-8 text-center font-mono text-3xl leading-none font-medium italic md:hidden lg:text-3xl"
  >
    foss<span class="text-primary">cet</span>
  </div>
</Link>
